<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{ .Title }}</title>
        <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.7/dist/htmx.min.js" integrity="sha384-ZBXiYtYQ6hJ2Y0ZNoYuI+Nq5MqWBr+chMrS/RkXpNzQCApHEhOt2aY8EJgqwHLkJ" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    </head>
    <body class="bg-neutral-950 min-h-screen flex items-center justify-center">
        <div class="bg-white p-8 rounded-lg w-200">
            <h1 class="text-2xl font-bold mb-4">{{ .Title }}</h1>
            <form hx-post="/shorten" hx-target="#result" hx-swap="innerHTML">
                <div class="flex h-15">
                    <input
                            type="url"
                            name="url"
                            placeholder="Enter URL"
                            dir="ltr"
                            class="w-full h-hull border-2 border-blue-500 rounded-s-lg focus:border-blue-600 px-2"
                            required
                    />
                    <button
                            type="submit"
                            dir="rtl"
                            class="w-40 h-full bg-blue-500 text-white border-2 border-blue-500 rounded-s-lg hover:bg-blue-600 hover:cursor-pointer"
                    >
                        Shorten URL
                    </button>
                </div>
            </form>
            <div id="result">
                {{template "result" .}}
            </div>
        </div>
    </body>
</html>

{{define "result"}}
    {{if .ShortenedURL}}
    <div class="mt-4 p-4 bg-green-100 border border-green-400 text-green-700 rounded">
        <p>URL: <a href="{{ .ShortenedURL }}" target="_blank" class="underline">{{ .ShortenedURL }}</a></p>
    </div>
    {{end}}
{{end}}